.my-custom-menu {
  --width: 500px;
}
ion-menu{
  --ion-background-color: #FBE940;
}

ion-menu {
  --ion-background-color: #FBE940;
  --ion-item-background-color: #FBE940;
}

ion-menu-button, ion-icon{
  color: white
}